h2{
    text-align: center;
}

form{
    width: 50%;
    margin: 30px auto;
    div{
        margin-bottom: 15px;
        label{
            font-size: 17px;
        }
        input[type=text]{
            width: 100%;
            padding: 9px 0 9px 7px;
        }
    }


    #formHandlers{
        display: flex;
        justify-content: space-between;
        button{
            color: #fff;
            border: none;
            border-radius: 6px;
            padding: 10px;
            cursor: pointer;
            display: block;
        }
        #updateButton{
            background-color: #0bb818;
            &:hover{
                background-color: #41cf4d;
            }
        }
        #deleteButton{
            background-color: #e32129;
            &:hover{
                background-color: #d44a4e;
            }
        }
    }
    
}
#returnButton{
    display: block;
    margin: 20px auto;
    background-color: rgb(35, 35, 228);
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 15px;
    cursor: pointer;
    &:hover{
        background-color: rgb(65, 65, 189);
    }
}

p{
    text-align: center;
    color: green;
    font-size: 19px;
}